{% extends "layout.html" %}
{% block content %}
    <div></div>
    <div class="container">
        <h1>Edit Profile</h1>
        <form action="#" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="{{ current_user.username }}" required><br><br>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ current_user.email }}" required><br><br>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" required><br><br>
            
            <button type="submit">Update Profile</button>
        </form>
        <a href="/" class="home-link"><button>Home</button></a>
    </div>
{% endblock content %}
