{% extends "layout.html" %}
{% block content %}    
    <div class="container">
        <header>
	    <div class="kichwa">
            <h1> Welcome to Vue <br> HOMEPAGE</h1>
	    </div>
            <nav>
                <ul id="reg">
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                        <li id=><a href="{{ url_for('register') }}">Register</a></li>
                </ul>
            </nav>
        </header>
        <main>
                <section class = ship>
                    <!-- Background image will be set here -->
                    <h2>Ship your parcels with ease!</h2>
                    <p class="sign_up">Sign up now to get started.</p>
                </section>
                <section class="companies">
                    <h2 class=>Click Below to view available companies</h2>
                    <button id="companies" onclick="showCompanies()">View Companies</button>
                    <ul id="company-list" style="display: none;">
                        <!-- List of available companies will be displayed here -->
                    </ul>
                </section>
        </main>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock content %}
